* {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
}

a {
    font-size: 25px;
    text-decoration: none;
}


/* Styles for header*/

header {
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    width: 100%;
    height: 100px;
    align-items: center;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 0px;
    top: 0px;
}

header .mon-menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 0px;
    float: left;
    height: 100px;
    box-sizing: border-box;
}

.monlogo {
    position: relative;
    width: 25%;
    left: 0px;
    height: 100px;
}

.monlogo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mon-menu li a {
    display: inline-block;
    line-height: 100px;
    text-align: center;
    margin-right: 25px;
    color: white;
}

.mon-menu li a:hover {
    border-bottom: 2px solid yellow;
    background-color: rgba(169, 169, 169, 0.637);
    color: yellow;
    transition: all 1s ease;
    font-style: italic;
}


/*Styles for the footer*/

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    bottom: 0px !important;
    margin-top: 100px !important;
}

footer p {
    font-size: 25px;
    font-style: italic;
    color: white;
}

.reseau-logo span {
    display: inline-block;
    margin: 0px 25px;
}

.reseau-logo span i {
    color: white;
}

.reseau-logo span i:hover {
    color: yellow;
}

.reseau-logo {
    display: flex;
    align-items: center;
}


/* Style for testimonial.html*/

main {
    display: flex;
    justify-content: center;
    top: 101px;
    position: relative;
    height: 600px;
    box-sizing: border-box;
    width: 100%;
}

.testimony {
    position: relative;
    width: 60%;
    height: 500px;
    border-bottom: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.les-testimony {
    width: 90%;
    height: 400px;
    position: relative;
    margin: 0px auto;
}

.les-testimony p {
    font-size: 25px;
}

.les-testimony h1 {
    font-size: 2em;
    background-color: maroon;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.les-testimony h3 {
    font-size: 1.5em;
}

.witness {
    position: relative;
    width: 40%;
    height: 400px;
}

.profil-witness {
    position: relative;
    height: 400px;
    width: 60%;
    margin: 0px auto;
}

.profil-witness img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.sous {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 15px;
}

.sous li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
}

.sous li img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    transition: 0.5s;
}

.sous li img:hover {
    transform: translateY(-10px);
}

.les-testimony1,
.les-testimony2,
.les-testimony3,
.les-testimony4 {
    display: none;
}

.font-bars {
    display: none;
}


/*Styles for media query*/

@media (min-width:500px) and (max-width:768px) {
    .font-bars {
        color: white;
        font-size: 35px;
        top: 10px;
        position: absolute;
        right: 10px;
        cursor: pointer;
        display: block;
    }
    header {
        display: flex;
        justify-content: space-around;
        background-color: darkblue;
        width: 100%;
        height: 70px;
    }
    header .mon-menu {
        position: absolute;
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: center;
        right: 0px;
        top: 70px;
        background-color: darkblue;
        height: 600px;
        box-sizing: border-box;
        display: none;
        border-top: 2px solid white;
    }
    .monlogo {
        position: absolute;
        left: 0px;
        top: 5px;
    }
    .monlogo img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .mon-menu li {
        display: block;
        width: 100%;
        height: 40px;
        /* margin-bottom: 25px; */
        margin-top: 50px;
    }
    .mon-menu li a {
        display: block;
        width: 100%;
        position: relative;
        line-height: 50px;
        text-align: center;
        border-bottom: 1px solid white;
        margin: 0px;
        color: white;
    }
    .mon-menu li a:hover {
        border-bottom: none;
        color: yellow;
        transition: all 1s ease;
        font-style: italic;
    }
    .sous {
        text-align: center;
        margin: 0px solid;
        position: relative;
    }
    .sous li img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: 0.5s;
    }
    main {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        top: 101px;
        position: relative;
        height: auto;
        box-sizing: border-box;
        width: 100%;
    }
    .testimony {
        position: relative;
        width: 100%;
        height: auto;
        justify-content: center;
        margin-top: 25px;
        display: block;
        margin-bottom: 25px;
        border-bottom: none;
    }
    .les-testimony {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0px auto;
        text-align: center;
    }
    .witness {
        position: relative;
        width: 100%;
        height: 300px;
    }
    .profil-witness {
        position: relative;
        height: 300px;
        width: 60%;
        margin: 0px auto;
    }
    .profil-witness img {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .witness {
        position: relative;
        width: 40%;
        height: 400px;
    }
    .profil-witness {
        position: relative;
        height: 400px;
        width: 100%;
        margin: 0px auto;
        border: 1px solid red;
    }
    .profil-witness img {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
    }
}